/*

Colours
---

- orange: #e4701e
- black: #000000
- grey1: #cccccc

*/

.site-navigation {
  list-style: none;
  padding-left: 0;
  background-color: #000000;
}
.site-nav-link {
  color: #e4701e;
}

.hero {
  background-color: #cccccc;
}

.hero-title {
  
}
